body {
    background: linear-gradient(to right, white 0%, white 20%, rgba(249, 249, 249, 1) 20%, rgba(249, 249, 249, 1) 100%)
}

.simpleMenuContainer {
    width           : 100%;
    min-height      : 695px;
    height          : auto;
    display         : flex;
    /* background   : gray; */
}

.simpleMenuLeftContainer {
    width           : 50%;
    height          : auto;
    /* background   : gray; */
    /* display      : flex; */
}

.simpleMenuRightContainer {
    width     : 50%;
    height    : auto;
    background: rgb(207, 183, 183);
}

.leftTopContent {
    background: rgba(75, 75, 75, 1);
    width     : 270px;
    height    : 270px;
    margin    : 63px 27px 0 0;
}

.moreOutContainer {
    display        : flex;
    justify-content: center;
}

.moreContainer {
    width             : 130px;
    height            : 45px;
    border-radius     : 29px;
    background        : rgba(173, 157, 114, 1);
    position          : relative;
    /* left           : 70px; */
    display           : flex;
    align-items       : center;
    justify-content   : center;
    top               : -22px;
    font-family       : "Roboto";
    font-weight       : 700;
    font-size         : 20px;
    color             : rgba(255, 255, 255, 1);
}

.fileIcon {
    position: relative;
    top     : -15px;
}

.contentText {
    position   : relative;
    top        : -25px;
    font-family: "Roboto";
    font-weight: 700;
    font-size  : 20px;
    color      : rgba(255, 255, 255, 1);
}

.rightTopContent {
    background   : rgba(75, 75, 75, 1);
    width        : 270px;
    height       : 270px;
    /* margin    : 63px 27px 0 0; */
}

.leftBottomContent {
    background: rgba(75, 75, 75, 1);
    width     : 270px;
    height    : 270px;
    margin    : 63px 27px 0 0;
}

.rightBottomContent {
    background   : rgba(75, 75, 75, 1);
    width        : 270px;
    height       : 270px;
    /* margin    : 63px 27px 0 0; */
}